[2017-01-31 19:52] OmidHekayati opened #1 "Change Repository Name"
I suggest to change repository name to **go-restful-oai** because swagger is now just Editor, UI, and CodeGen and SmartBear Software is donating the Swagger Specification directly to the OAI as the basis of this Open Specification.
https://www.openapis.org/about

[2017-01-31 20:25] OmidHekayati opened #2 "Use OAI3 specification instead of OAI2"
OAI2 is almost at EOL (End-of-life) and I suggest to work on oai3. they almost ready to publish preview it in less than a month and all document can find here:
https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md

[2017-01-31 22:05] emicklei commented on #1
thank you for mentioning this. If applicable then I will rename it.

[2017-01-31 22:12] emicklei commented on #2
I see you point. However, currently there does not seem to be a Go implementation of the spec. And what is the status of the UI and other tooling?
We could start with 2 in the repository  go-restful-openapi2  and later duplicate+modify into  go-restful-openapi3

[2017-02-01 06:23] OmidHekayati commented on #2
I think it isn't good idea to include version in repo name. Git is a version control and version number can be set in release cycle.
You are correct and it seems there is no go spec yet. for oai2 we can use this:
https://github.com/go-openapi/spec

[2017-02-01 11:19] #1 closed

[2017-02-01 11:20] #2 closed

[2017-03-11 11:28] the42 opened #4 "How to serve the Swagger UI"
The old repository contained configuration parameters to serve the Swagger  UI as eg.

 SwaggerPath:     "/apidocs/",
    SwaggerFilePath: "/Users/emicklei/Projects/swagger-ui/dist"}

is this planned to be added later or even already supported with go-restful-openapi?

If not, does that mean that serving the swagger UI (which is not an issue) is left to the user?

Thank you

[2017-03-13 10:27] emicklei commented on #4
@the42 , yes, serving the UI is left to the user.  Recent projects here have shown that developers use different strategies here (different port, TLS, serving statics via go-bindata,...) so I decided to not include it.

I will update the example accordingly.

[2017-03-13 21:25] #4 closed

[2017-03-16 09:22] rmohr opened #10 "How to determine the default return type"
Currently 200 is always considered to be the default return value. That is obviously not always correct.

Guessing the default return code is hard. It depends on a combination of the fact if   body is returned, on the http method and of the specified .Responses(). To avoid including a lot of magical detection code, I would just add a `#DefaultReturns(code int, message string, model interface{})` m

[2017-03-17 08:39] rmohr commented on #10
Actually, I went through the spec here: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#responses-object.

It looks like our understanding in the code is currently wrong. This basically allows setting the return type for anything else then specified. With that in mind I would definitely vote for having a `DefaultReturns` method and no detection at all.

[2017-03-22 07:54] emicklei commented on #10
A DefaultReturns would be part of go-restful pkg , assuming that is what you mean.

Personally, I would not use this feature as it suggests that any other unspecified HTTP status code will return that model. That is simply not possible ; any http middleware could decide to answer differently.

Do you need this feature?

[2017-03-22 09:05] rmohr commented on #10
It is less about that I need it. It is more about the current detection mechanism. I would at least remove that part which sets the default response to the return body of the 200 status code. I think this is not what was intended by the spec for this field.

Regarding to the DefaultReturns property, for instance kubernetes always returns a special `StatusError` when a not 2xx return code is sent b

[2017-03-22 09:07] emicklei commented on #10
ok, then let's add it so developers have a choice.

[2017-03-28 08:00] ddysher opened #13 "Json reference error when return type is pointer"
When using go-restful-openapi to generate swagger 2.0, we get the following json (truncated)

[code]

`$ref` is invalid due to `%2A`, which stands for `*`.  Due to returning type being a pointer, the library incorrectly use *models.ListResponse as type name.

After a brief scan through the library, it seems I can just use `ModelTypeNameHandler` to bypass the problem; however, while building respon

[2017-03-28 09:06] emicklei commented on #13
thank you analysing this problem. Work is still in progress so any help is appreciated.

- I think the ref should use the non-pointer type name.
- propagating the config must be fixed indeed.

Yes, please submit a PR.

[2017-03-28 12:45] ddysher commented on #13
Thanks for confirming, will take a look ASAP.

Just to make sure I understand this comment; are u suggesting that the library should work as is, i.e. do not take special consideration for pointer type; it is caller's responsibility to not use pointer type?

[2017-03-28 14:02] emicklei commented on #13
I meant it like a "normalization" step ; take the value type version if the sample is a pointer type.

[2017-04-05 13:07] #13 closed

[2017-05-18 08:30] vanbroup opened #17 "Definition builder fails with custom types"
We found that the definition builder is failing with custom types.

For example:
[code]
Would trigger the definition builder to create a definition of main.Status, but the definition itself will never be created. Where for documentation purpose it would be great if the definition Status would be created with the constant information for documentation information a simpler solution is to change [li

[2017-05-19 08:25] benoitmasson opened #18 "Slice parameters in body not exported correctly"
If I have a route which `Reads()` a slice, e.g., `Reads([]my.Object)`, in the `apidocs.json` it exported as:
[code]
while it should be:
[code]
(i.e., an array type where items are a reference to the contained object)

[2017-05-19 08:29] benoitmasson commented on #18
Oh, and I forgot but it also adds the following to the definitions:
[code]
This should not be there, instead we should make sure that `my.Object` is defined (and add it if it is not)

[2017-05-19 09:39] benoitmasson opened #19 "MapModelTypeNameFunc has incomplete behavior"
When set, the [`MapModelTypeNameFunc`](https://godoc.org/github.com/emicklei/go-restful-openapi#MapModelTypeNameFunc) renames models in the `"definitions"` of the `apidocs.json` file, but does not rename models in the `"paths"` section.

In particular, `"$ref"`'s contained in `"parameters"` or `"responses"` schemas remain unchanged. For example, if I choose to rename `my.Object` to `MyObject`, I g

[2017-05-22 15:04] benoitmasson opened #20 "All struct fields are marked as required"
When a struct is used as input parameter in the body (with `Reads(MyStruct)`), all struct fields are automatically set as `"required"` in the `apidocs.json`.

It would be great to be able to customize this via tags, for example with a new `optional` tag:
[code]
or as an option to the `description` tag:
[code]

[2017-07-16 11:52] emicklei commented on #20
good idea.  is there a conventional approach here?  i favor the separate tag "optional"

[2017-07-16 11:54] emicklei commented on #19
this is indeed unintended behavior. I have to think about a solution to this. Any suggestions?

[2017-07-16 11:55] #10 closed

[2017-07-16 12:07] emicklei commented on #17
i am working on a test for this and checking the openapi spec on how to support this

[2017-07-27 15:13] benoitmasson commented on #20
I don't really know… both seem reasonnably good solutions to me.

However, the separate tag is clearly better for parsing (how to handle complex descriptions with commas in the case of a simple option?), so I'd go for that too.

The risk is that it may interfere with other packages using an `optional` tag… if any. And the name is explicit enough so that I think this is not a big issue.

[2017-07-31 09:08] vbondarev commented on #18
Hello.
I have the same problem. When I use a simple object that is ok, but when I try to use an array of objects or pointer to an objects that is wrong.

For example:

`ws.Route(
		ws.PUT("/{lesson-id}/states").To(r.handler.RestfulUpdateActivityStates).
			Doc("Update the all activity states by the lesson uuid").
			Param(ws.PathParameter("lesson-id", "Identifier of the lesson").DataType("string")

[2017-08-04 14:22] emicklei commented on #18
need to write a test for this, and fix it

[2017-08-04 14:23] emicklei commented on #20
back from my holidays, time to work on the open issues. Will use "optional" here.

[2017-08-31 02:29] cliang57 opened #24 "Json Reference Error when Response is Array of String"
My Get API returns an array of strings. I uses go-restful 2.0 and go-restful-openapi package.

The API works.
But my Swagger UI page shows error 'Could not resolve reference because of: Could not resolve pointer: /definitions/string does not exist in document'.

This is part of my apidocs.json
`
"responses": {
    "200": {
        "description": "OK",
        "schema": {
            "type": "array

[2017-08-31 02:52] cliang57 commented on #24
I created a pull request. This patch fixed my problem. Hope go-restful-open api can adopt it or make similar updates.
https://github.com/emicklei/go-restful-openapi/pull/25

[2017-08-31 04:28] emicklei commented on #24
thanks, I merged it just now

[2017-08-31 04:28] #24 closed

[2017-09-13 16:36] dkiser commented on #2
I see this popped up not too long ago: https://github.com/go-openapi/spec3.

[2017-09-16 00:38] EwanValentine opened #26 "Error additionalProperty: id"
I have a series of structs, which are generated by `protoc`, which I've integrated into openapi using this codebase. However, I keep getting the following error:

[code]

Here's my struct...
[code]

Here's an example of an endpoint...

[code]

And here's some of the definition output in swagger...

[code]

Cheers!

[2017-09-16 00:41] EwanValentine commented on #26
Live example: https://online.swagger.io/validator/debug?url=https://staging.menus.tabbdrink.com/apidocs.json

[2017-09-16 10:20] emicklei commented on #26
thank you for reporting this. will have a close look at what's happening here.

[2017-09-17 07:52] emicklei commented on #26
The fact that your models has an entry "||models.Menu" reveals that you do not use the latest commit of this package.  That does not explain this error but it may help finding the cause.

I did write a small test to inspect its output:
[code]
which yields
[code]

[2017-09-17 09:47] EwanValentine commented on #26
That's strange:
<img width="773" alt="screen shot 2017-09-17 at 10 17 36" src="https://user-images.githubusercontent.com/1155123/30519560-88efdcd0-9b91-11e7-94b8-725b1d2f7be6.png">

Still getting the same issues

[2017-09-17 15:03] emicklei commented on #26
like i said, maybe it does not solve your issue.
did you check the the apidocs.json for occurrences of the old "||" prefix ?

[2017-09-20 19:37] EwanValentine commented on #26
Yes I'm still seeing `||` even since updating, unfortunately! It's not breaking anything though, just throws a load of errors

[2017-10-03 10:07] emicklei commented on #19
is stil feature still on your need-to-have list?

[2017-10-03 11:33] benoitmasson commented on #19
Currently I'm using a workaround to solve the issue (using the `PostBuildSwaggerObjectHandler` handler attribute, to fix the final structure).

It seems to work but it is a dirty hack, so yes I could use a fix, that would be far more reliable.

However, I don't know if you have plans to integrate OpenAPI v3 (https://github.com/OAI/OpenAPI-Specification) into go-restful, but if so, don't waste time

[2017-10-04 09:55] rmohr commented on #26
@EwanValentine I think that the error is related to the `ID` field in `SchemaProps.ID`. I saw similar validation errors. See here for more context: https://github.com/go-openapi/spec/issues/23

[2017-10-04 19:35] dkiser opened #30 "securityDefinitions spec"
Are there any examples of producing a `securityDefinitions` specification entry to support describing authentication?  Would this be a manual function now using an `enrichSwaggerObject` function?

[2017-10-04 21:04] dkiser commented on #30
Did a bit of research and I guess you can do things like the following that seem to work pretty well.

[code]

Too bad OAPI2.0 doesn't support the `Bearer` auth scheme 8-).

[2017-10-05 04:59] emicklei commented on #30
yes, my first reaction would have been using the enrich function; that's why it was created.

[2017-10-05 08:52] #26 closed

[2017-10-05 11:25] emicklei commented on #18
recently there were quite some contributions to this package, please update and retry

[2017-10-06 17:24] objque opened #33 "How to write/return array of strings?"
Hello, one of my controllers returns `[]string`

[code]

And when I build and paste doc into editor.swagger I see errors

![2017-10-06 20 22 14](https://user-images.githubusercontent.com/7000585/31290162-1b5c50e8-aad4-11e7-8388-5de5803fcac6.png)

I haven't problems with custom types. Is it my fault or not?

[2017-10-07 20:10] dkiser commented on #30
@emicklei whipped up an example here where `Metadata` on a `restful.Route` can be used to dynamically update the `*spec.Swagger` to map `Security` entries to `SecurityDefinition` entries for each route.

If you think it's worth adding something like this to an existing or additional example service let me know.

https://gist.github.com/dkiser/267f5aee0164b69c9b5efd028c645aa5

[2017-10-09 12:31] benoitmasson commented on #18
The problem remains with the latest commits. The following code:
[code]
leads to the following json:
[code]
As you can see, the body `parameter` is still not an array.

As for the definitions however, `||resources.Item` is not defined anymore and `resources.Item` is, which is a good thing

[2017-10-09 12:55] emicklei commented on #18
hmm, why is there a ```%5B%5D``` in front of resources.Item ?

[2017-10-09 12:58] benoitmasson commented on #18
It's always been there (see my initial comment).

It's the escaping of `[]`: I guess somewhere some package (`reflect`?) is telling that `[]Item{}` has type `"[]resources.Item"`, which is in turn escaped by the `json` package…

[2017-10-10 12:49] emicklei commented on #33
hi, thank you for reporting this. I will need to create a test for this and see what the spec acutally needs to be.

[2017-10-12 19:17] emicklei commented on #33
in the examples folder, there is a user-resource.go file.

I added the following snippet for a quick view of the problem

[code]
The response returned from http://localhost:8080/apidocs.json shows
[code]

[2017-10-12 19:20] emicklei commented on #30
hi, thank you for putting this example together. Could you send me a PR for an additional example to add here?

[2017-10-12 19:37] emicklei commented on #20
see https://github.com/emicklei/go-restful-openapi/commit/0d037b269a5b53b582789e25dee0d0a0614119e5

[2017-10-12 19:37] #20 closed

[2017-10-12 19:38] emicklei commented on #18
see #33

[2017-10-12 19:39] emicklei commented on #17
don't see solution to making this work.

[2017-10-16 16:18] dkiser commented on #30
Sure, give me a few days here and i'll add one in the examples folder.

[2017-10-27 02:20] CrazyBBer opened #34 "go-restful-openapi can not work with swagger-ui 3.x"
1、 pull a swagger-ui 3.x(the latest version) from dockerhub
2、run a container from the pulled image.
3、go run the user-resource sample
4、explorer the url： http://localhost:8080/apidocs.json
5、failed

[2017-10-27 04:04] emicklei commented on #34
i recall this issue from https://github.com/emicklei/go-restful-openapi/commit/1f0ce081cba8bb07e4f60f300ce22751e9b596fa .
Assuming you are using the latest commit, I will repeat your experiment to verify it.

[2017-10-27 04:09] CrazyBBer commented on #34
it looks like  the "Access-Control-Allow-Origin" issue .

error found in browser  as following  :
No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2017-10-27 08:40] CrazyBBer commented on #34
when post a create request from the swagger-ui page using the generated apidoc  , there is a followed issue:
web console get a  error : Response to preflight request doesn't pass access control check  .
the post request could not reach the resource handler.

[2017-10-27 10:32] CrazyBBer commented on #34
@emicklei
problem solved.
it could be solved by using  **CrossOriginResourceSharing**  filter
you already gave a demo in example .
sorry  to take trouble for u.

[2017-10-28 05:40] emicklei commented on #34
@CrazyBBer no problem, thank you for looking into this issue. Do we need to update the user-resource example accordingly?

[2017-10-28 05:42] emicklei commented on #19
@benoitmasson i have not looked into the changes that v3 introduces, do you think we can make this repository compatible to both?

[2017-10-30 02:45] CrazyBBer commented on #34
@emicklei
considering easily to user , it's better to update the user-resource  example, i think . if so:

**adding the following codes**
[code]
code from link : https://github.com/emicklei/go-restful/blob/master/examples/restful-CORS-filter.go

[2017-10-31 10:37] benoitmasson commented on #18
In fact, the problem remains **only** in the `"parameters"` object. `"responses"` are OK, as pointed out in #33.

Here is a complete, minimal example which fails:
[code]

This gives:
[code]
[code]

=> `"responses"` and `"definitions"` are OK, not `"parameters"`

[2017-11-02 05:14] emicklei commented on #18
thank you for investigating this and providing an example

[2017-11-14 22:05] vikstrous opened #35 ""Notes" not used"
Operation.Description should be set to the Notes from the route. Instead, the Doc field is used and the first line of the Doc field is used as the "Summary". The notes should be what's used in the description to stay consistent with the swagger 1.2 implementation. PR incoming...

[2017-11-15 10:02] emicklei commented on #35
without looking at the impl yet, will this "break" existing use of the package?

[2017-11-15 10:03] emicklei commented on #35
did you consider adding a new method in Route instead?

[2017-11-15 15:53] vikstrous commented on #35
There are already two methods: Doc and Info. Info is the description in swagger 1.2 but it's not used in swagger 2 (this repo). In swagger 2 Doc is used as the description. My proposal is so make the behaviour the same between the two and use Info as the description.

[2017-11-15 16:27] emicklei commented on #35
can only agree to that 👍

[2017-11-15 16:29] emicklei commented on #33
so my example does not show this problem. Can you confirm?

[2017-11-22 20:01] objque commented on #33
I'll check it tomorrow, promise you :)

[2017-11-24 15:27] #33 closed

[2017-12-08 02:29] CrazyBBer commented on #18
issue still ,when read array from request ,it will build out a wrong path,such as:
[code]
[code]
detail as above

[2017-12-13 08:27] #35 closed

[2017-12-27 21:07] spellgen opened #39 "WebServicesURL defined but not used?"
Similar to the swagger (1.2) api for go-restful, the openapi version defines `WebServicesURL` in the `Config` struct, but it appears not to be used or have any effect on how the defined endpoints are called.
I strip the service-part of the URL that defines my endpoints, so without having this variable respected "Try it out!" calls are made to: "https://example.com/endpoint" instead of "https://exa

[2017-12-28 09:55] emicklei commented on #39
you are correct, this field is a left-over from an old state of the package when it was also providing the feature to serve the swagger docs and artifacts.  I think it can be removed safely

[2018-01-12 07:43] emicklei commented on #18
can we close this?

[2018-01-12 07:46] CrazyBBer commented on #18
i think so.

[2018-01-12 08:05] benoitmasson commented on #18
looks good, thanks a lot!

[2018-01-12 12:32] #18 closed

[2018-01-23 02:05] Jack47 opened #40 "support additionalProperties"
Currently go-restful-openapi don't support [additionalProperties](https://spacetelescope.github.io/understanding-json-schema/reference/object.html#properties). It's useful for scenearios like below.

[code]

We can use additionalProperties to generate schema for `members`:
[code]
Do you have some suggestions on this?

[2018-01-24 04:53] emicklei commented on #40
did you try implementing a PostBuildSwaggerObjectHandler function? It takes a Swagger object of the complete configuration. You could use that now to change the Model.

An alternative could be having such a hook (PostBuild) on the type itself.
For instance, let say the GroupInfo was extended with

[code]

With this you could modify it directly.

[2018-01-24 04:54] #39 closed

[2018-01-24 04:54] emicklei commented on #39
i marked the field as deprecated

[2018-01-24 05:06] #30 closed

[2018-01-24 05:31] #34 closed

[2018-01-25 14:25] Jack47 commented on #40
Thanks for response. Use `PostBuildOpenAPISchema()` can solve this problem, but IMHO it's not very straight forward. It would be better to let go-restful-openapi recognize `members map[string]MemberInfo` and generate complete swagger doc for it.

Currently go-restful-openapi can only generate swagger doc:
[code]
The above  doc is incomplete because user don't know what's in the members. go-restful

[2018-01-28 12:57] emicklei commented on #40
According to https://swagger.io/docs/specification/data-models/dictionaries/ also a $ref can be used.

[2018-01-29 08:15] Jack47 commented on #40
Sure, we can use inline schema or use $ref.

[2018-04-10 16:50] tekkamanendless commented on #17
Any update on this?

I'd be perfectly willing to add more markup somewhere or define a custom type in `go-restful` if that were an option.

[2018-04-10 17:56] vanbroup commented on #17
@emicklei where are you getting stuck?

I was thinking that we can use reflect to detect the `String()` implementation and return type string when available. Similar to how you handle some object-specific definitions such as time.Time.

[2018-04-11 18:02] emicklei commented on #17
it's been a while since I looked into this. Maybe with todays experience, I can come up with a solution/workaround

[2018-04-24 19:06] robertgrimm opened #42 "Add support for readOnly properties"
I'd like the ability to mark a property as read-only, similar to how you can mark a property as unique.  This is useful for PUT/POST requests where users can only specify a subset of all attributes.  In other words, where GET requests would return additional properties that users cannot set themselves (e.g. "created at" properties).  For example:

[code]

would result in the following Swagger docu

[2018-04-24 21:54] #42 closed

[2018-05-09 16:49] tekkamanendless commented on #40
If the intent of this issue is to support maps of well-defined types, then #44 might do what you want.

[2018-05-09 16:59] jerrymccollom opened #45 "Pointer to array/slice of primitive registers incorrect definition"
Greetings, Ernest!

I found that if I have a pointer to a slice of strings in a struct, the swagger generates schema references to "#/definitions/string".  I tracked it down to a single line in definition_builder.go.  I'll submit a PR with the change to fix this.

Generating this reference makes the current rev of ReDoc choke (which is how I discovered the problem).

Thanks for considering the PR!

[2018-07-23 01:51] #40 closed

[2018-09-05 06:37] #19 closed

[2018-10-31 13:54] xsikor opened #51 "Can't make array<enum>"
If we try to generate swagger array of enum we can't do this by now adding tag enum:"asset|cards|airdop"
Because then we have a generated swagger

`    "type": {
     "type": "array",
     "enum": [
      "asset",
      "cards",
      "airdrop"
     ],
     "items": {
      "type": "string",
     }`

In swagger doc we must to have **enum** row in **items** like this

`    "type": {
     "type": "a

[2018-10-31 14:39] Xsikor commented on #51
Stack overflow answer https://stackoverflow.com/a/37027661

[2018-11-19 09:20] emicklei commented on #17
today, i hit the same problem with `type Attribute_DataType int32` . Need a fix too.

[2019-02-22 06:48] skyhit commented on #17
@emicklei any solution for this?

[2019-02-25 20:37] erraggy commented on #17
@emicklei I have seen the same behavior with any struct field defined as type `interface{}` as well.

So the following will produce a model definition with an empty type definition of `domain.Foo.label`:
[code]
Results in these 2 model definitions:
[code]

[2019-02-28 20:23] emicklei commented on #17
i am thinking about adding a field tag for this but it might only solve it for non-struct typed values.

[2019-02-28 20:26] emicklei commented on #17
another idea is to test the actual type for implementing a certain interface that can tell the package what the actual openapi type should be. Something along the lines of:

[code]

I need to experiment with these ideas and have unit tests.

[2019-03-01 17:56] erraggy commented on #17
I think the interface would be best (at least for our case), because the type is not known until runtime, so a type tag would not work here. In my example above for instance, the `Label` could be a string or some kind of number.

If there was a method to implement that would satisfy what OpenAPI needs to know, what would it need to provide?

[2019-03-03 08:25] emicklei commented on #17
@erraggy if the Label can be anything, what would the OpenAPI model be?  I guess type will be "object"

[2019-03-11 20:02] agarwalankit95 opened #55 "`time.Duration` type is not supported"
Getting below error for generated swagger.json file:
<img width="691" alt="Screenshot 2019-03-12 at 1 19 04 AM" src="https://user-images.githubusercontent.com/5042774/54153142-dc014580-4464-11e9-8b44-919a86d32f82.png">

Above error is on this line: `$ref: '#/definitions/time.Duration'`

So after debugging, i found that `time.Duration` type is currently not supported, only `time.Time` type is suppo

[2019-03-15 20:35] agarwalankit95 commented on #55
I have tested the changes after merge request: https://github.com/emicklei/go-restful-openapi/pull/56
Working fine, so closing this issue.

[2019-03-15 20:35] #55 closed

[2019-05-10 12:33] iainduncani opened #57 "CORS support not enabled by default"
The docs state that CORS should be on by default:

https://godoc.org/github.com/emicklei/go-restful-openapi#Config

However, they are not.  This means that if running the swagger UI in a local container it is not possible to access the generated JSON running on a server.

[2019-05-10 18:40] emicklei commented on #57
good catch!

[2019-05-15 09:21] #57 closed

[2019-06-19 02:09] danny-cheung opened #59 "Definition Builder fails with map[string][]byte"
My struct looks like this:
[code]
My `apidocs.json` ends up looking something like this:
[code]

My `map[string][]byte` becomes a reference to a new definition, but that definition is never created.

[2019-06-20 22:14] danny-cheung commented on #59
Fixed by pr#60

[2019-06-20 22:14] #59 closed

[2020-02-22 07:54] emicklei commented on #17
the custom types problem, as stated by the OP, is solved by @nullbus . See v2.1.0

[2020-02-22 07:54] #17 closed

[2020-06-19 05:36] iainduncani opened #62 "Maps to slices are not listed as arrays and maps are not allowed as top level items"
When you have a map to a slice the value is always generated as a reference to another type.  This is different to the way slices are handled when a struct property is a slice where they are correctly created as an `array` type.  For example:

[code]

Will generate:

[code]

When really it should produce:

[code]

In addition, if you have a map as the top level return value rather than inside a st

[2020-06-19 08:13] iainduncani opened #64 "When a slice of primitive type is used the primitive type is added to the model"
Usually primitive types are not added to the model as they are not required but if you have a `[]string` then the string is added to the model.  For instance:

[code]

Produces:

[code]

Instead of:

[code]

[2020-06-19 08:17] iainduncani commented on #64
I have a fix ready for this here:

https://github.com/iainduncani/go-restful-openapi/tree/primitive-slice-support

But as it is built on top of the code in PR #63 I will wait and see what happens with that PR before raising a separate PR for this fix.

[2020-06-21 13:28] emicklei commented on #62
Thank you for reporting this,  are willing to help find a fix for this?

[2020-06-21 13:48] emicklei commented on #51
Can you provide a fix + test for this?

[2020-06-24 05:20] iainduncani commented on #62
Thanks for merging the PR!

[2020-06-24 05:20] #62 closed

[2020-06-30 02:08] xuchenCN opened #66 "To supports go-restful v3"
Please to supports go-restful v3.

[2020-06-30 05:51] emicklei commented on #66
it does,  you need to use v2 of this package.  I will update the readme.

[2020-07-01 01:10] #66 closed

[2020-07-01 08:00] #64 closed

[2020-11-06 10:48] emicklei opened #68 "openapi stack overflow when read protobuf struct"
https://github.com/emicklei/go-restful/issues/457

[2020-11-06 10:48] emicklei opened #69 "openapi stack overflow when read protobuf struct"
https://github.com/emicklei/go-restful/issues/457

[2020-11-06 10:49] #69 closed

[2020-11-06 14:40] emicklei commented on #68
i have difficulties finding a test that demonstrates the issue

@fanux can you change this example to your structure such that it fails?

[code]

[2020-11-09 10:31] fanux commented on #68
[code]

[2020-11-16 13:13] emicklei commented on #68
works on my machine :-(

[2020-12-08 12:28] emicklei commented on #68
@fanux did you use the v2 branch?

[2020-12-10 06:22] fanux commented on #68
Not yet, but I think if the test case passed, this issue can be closed

[2021-02-10 19:54] #68 closed

[2021-09-20 09:54] emicklei commented on #51
I am closing this as it did not receive attention for a year. Feel free to re-open and complete it.

[2021-09-20 09:54] #51 closed

[2021-09-21 20:18] austince commented on #19
Hi there 👋🏼 sorry to drudge up an old issue, but want to check before creating a new one: Is OpenAPI 3.x supported, or is this project only going to target 2.x?

[2021-09-21 21:25] emicklei commented on #19
@austince good question. TBH I have not yet looked at the differences for a while and apparently there is not much interest.  We could start a new branch v3 with a copy of the latest v2 and start doing renames to meet the spec.  Would you like contribute to that?

[2021-09-22 18:02] austince commented on #19
Hey @emicklei thanks for the quick reply. It looks like the go community as a whole has been slow to adopt the 3.x spec (k8s just recently merged a KEP around it https://github.com/kubernetes/enhancements/issues/2896). I'm not sure I'm the right person to contribute, unfortunately – I'm still evaluating tools and think I'm looking for more standalone generation vs. building at runtime. But if that

[2021-10-14 17:24] SVilgelm opened #76 "Is there a way to generate openapi v3?"
I see that this projects heavily uses Swagger v2, but is there a way to generate v3? Maybe you can recommend a project that we can use instead of go-restful-openapi but which works with go-restful?

[2021-10-16 02:29] SVilgelm commented on #76
ok, thank you!
I think it would be better to create another project to keep v2 available for other

[2021-11-08 07:22] slow-zhang opened #77 "Definition Builder fails with [][]byte"
My struct looks like this:

[code]

My apidocs.json ends up looking something like this:
[code]
My [][]byte becomes a reference to a new definition, but that definition is never created.

[2021-11-08 07:45] emicklei commented on #77
working on a test to reproduce this https://github.com/emicklei/go-restful-openapi/tree/issue77

[2021-11-09 06:52] slow-zhang commented on #77
thanks for helping, here is the real Definition:
![image](https://user-images.githubusercontent.com/24769636/140875532-51a760b9-06c8-4198-bc5e-e78439fbf579.png)
![image](https://user-images.githubusercontent.com/24769636/140875584-0f513d50-a2a4-4b12-947c-a86059e233d8.png)
![image](https://user-images.githubusercontent.com/24769636/140876120-d018e5d8-285a-46da-815b-c8818661dff8.png)

[2021-11-09 07:06] slow-zhang commented on #77
i also add a test for that

[code]

[2021-11-10 20:48] emicklei commented on #77
given your example, do you expect it to be this

[code]

[2021-11-11 02:24] slow-zhang commented on #77
this is a `[][]byte` in golang, i don't know which will be better for `array of interger` or `array of string`

[2021-11-15 02:35] SVilgelm commented on #77
I also faced this issue with `[][]string`:
[code]

it generates the swagger for `group_by`:
[code]

if I create additional type:
[code]

then it generates swagger:
[code]

but the problem is that it does not create a definition for `StringArray` at all in swagger

[2021-11-16 10:41] slow-zhang opened #79 "struct with json.Marshaler fail to build schema"
the code of https://github.com/emicklei/go-restful-openapi/ is here:
![image](https://user-images.githubusercontent.com/24769636/141970186-fe5224cd-93ac-477f-86ee-5d3929d241cc.png)

test struct
[code]

open-api  json struct

[code]

[2021-11-16 10:47] slow-zhang opened #80 "Should we support lowerCamelCase with setting"
my project wants to unify the format of JSON key to lowerCamelCase (the project has some tag in lowerCamelCase). but by default non-JSON-tagged value will generate UpperCamelCase.

Can we add a config to change the default action?

----
btw, I have found a place to change it but not sure it's enough: (change `return field.Name` to `return  strings.ToLower(field.Name[:1]) + field.Name[1:]`)

![imag

[2021-11-18 06:15] slow-zhang commented on #77
@emicklei is there some processes for this issue

[2021-11-18 08:28] emicklei commented on #77
@slow-zhang yes, but it is slow due to other house-painting work :-)  In the meantime, I realised the current PR is more of a workaround. Next time I will work on it, I will generalise it more such that is can handle more cases. (StringArray, ByteByteArray, etc, )

[2021-11-18 16:40] SVilgelm commented on #77
@slow-zhang here is the PR: https://github.com/emicklei/go-restful-openapi/pull/78

[2021-11-18 16:43] SVilgelm commented on #80
you can do it by using json tag in your structures:
[code]

Here is a good explanation about structure tags: https://www.digitalocean.com/community/tutorials/how-to-use-struct-tags-in-go

[2021-11-18 16:49] slow-zhang commented on #80
yeah，it works. but in my project, there are lots of external structs, its hard to add tag for them

---Original---
From: "Sergey ***@***.***&gt;
Date: Fri, Nov 19, 2021 00:43 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [emicklei/go-restful-openapi] Should we support lowerCamelCase with setting (Issue #80)

you can do it by using json tag in your structures:
 type A {     N

[2021-11-21 08:10] emicklei commented on #80
@slow-zhang , one solution could be to introduce a JSONFieldNameHandler in Config which, if present, is called to do any transformation on the name

[2021-11-21 08:12] emicklei commented on #79
thank you reporting this.  Could you help me by providing a testcase for this?

[2021-11-21 08:14] emicklei commented on #76
@SVilgelm  I can think of a couple of reasons to introduce v3 branch instead:
- package name `go-restful-openapi` does not change ; devs won't leave the project
- maintaining code is easier, a fix in v2 can be cherry picked into v3
- v3 branch changes does not affect master or v2.

[2021-11-22 04:25] SVilgelm opened #81 "Generates unnecessary definitions when struct inherits the fields from another"
I'm currently using very outdated library `v1.1.1-0.20190620131940-98aa997b1687`, and I want to upgrade to latest, but I was really surprised when the `swagger validate` shows much more warnings with new version.

Here is an example of two structs:
[code]

with `v1.1.1` it generates just one definition:
[code]

but `v2.6.1` generates two definitions:
[code]

and the `swagger validate` shows a warn

[2021-11-22 04:54] SVilgelm commented on #76
I did some research and seems only this https://github.com/getkin/kin-openapi/tree/master/openapi3 project is alive, so v3 branch will require to use kin lib instead of swagger
Is it OK?

 I'm not sure how good the https://github.com/getkin/kin-openapi/tree/master/openapi2, but maybe it worth to use it instead of swagger as well for v2?

[2021-11-22 05:33] SVilgelm commented on #76
forget about my last suggestion about using kin for v2, it will break existent code for all users for sure

[2021-12-07 19:35] emicklei commented on #80
@slow-zhang Do you want to work on a PR for this?

[2021-12-07 19:36] slow-zhang commented on #80
***@***.***：377636000地址：浙江省杭州市西湖区浙江大学西溪校区

[2021-12-07 19:37] emicklei commented on #81
Thank you for providing the example test.
The lame excuse for current behaviour is that the code base had many contributions that have not been reviewed that carefully. I will have a look at this case to see where the flow is off.

[2021-12-07 19:47] SVilgelm commented on #81
no worries, it is not something major, just some warnings, that can be avoided. You know what I think, maybe we can add a supporting for `allOf` (it is par of v2) for such cases
so instead of including all field from `Parent`, we can create `Parent` definition and the create `Child` with `allOf: [{$ref: Parent}, {...Child...}`

[2021-12-08 11:21] slow-zhang commented on #80
this cool, i will work on it

[2021-12-16 06:01] slow-zhang commented on #79
is there some example for adding a test cases

[2021-12-16 06:12] slow-zhang commented on #79
here is the test

[code]

output:

[code]

[2021-12-16 08:31] slow-zhang commented on #77
how can i test it? i rebuild my project with v2.7.0, but it seems failed again for [][]byte

[2022-01-04 08:45] emicklei commented on #80
feature added. thx

[2022-01-04 08:45] #80 closed

[2022-01-04 09:38] slow-zhang commented on #77
PTAL @emicklei @SVilgelm

[2022-01-05 03:11] slow-zhang commented on #77
Hi, i rerun the test and get the output as below, is it expected to generate array of interger for [][]byte

test
[code]

output
[code]

[2022-01-05 04:13] SVilgelm commented on #77
it is a really good question, in my opinion, the `[]byte` should be converted to
[code]

if we do
[code]

then it is converted to
[code]
without format

@emicklei what do you think?

[2022-05-20 03:15] fearlesschenc opened #92 "Is there a way to describe resquest/response body examples"
Currently, we can use Read/Write, but those only emit reflect type of the input type which is hard to understand when it come to complex structs. I am wondering if we can just use json/yaml to describe resquest/response body examples.

[2022-05-25 19:57] emicklei commented on #92
Currently there is no way. Do you have suggestions for an API to make that happen?

[2022-06-02 22:36] SVilgelm commented on #76
it is up to you, but seems it supports v3 pretty well. I have created my own lib for v3.1, but it depends on g v1.18, because of generics: https://github.com/sv-tools/openapi/pull/13

[2022-07-21 03:02] bokunodev opened #93 "hide struct fields [feature request]"
can i hide some struct fields from appearing in the docs?
is there anything like `json:"-"` ?

[2022-07-21 19:34] emicklei commented on #93
can you an example which fields you would like to omit?  fields in your response structs or fields of openapi?

[2022-07-23 00:38] #93 closed, assigned to nobody

[2022-07-30 10:14] emicklei opened #95 "would you migrate and use openapi v3 support in a brand new v3 branch?"

[2022-08-09 07:44] #92 closed

[2022-08-09 11:25] fearlesschenc commented on #95
Yes

[2022-08-15 19:56] SVilgelm commented on #95
yes, I would

[2022-09-08 11:25] onecer opened #97 "can support protobuf generate struct ?"
a generate protobuf go struct like this

[code]
Q1:

Have any way to filter parameters that I don't need?

like
[code]

It there any good idea to deal with it?

[2022-09-09 07:41] #97 closed

[2022-10-16 12:23] emicklei commented on #95
i am thinking about using https://github.com/getkin/kin-openapi for this

[2022-11-03 10:41] aryanicosa opened #99 "[question] Is there a way to return user defined schema type as "file""
currently Returns it take code, message interface as parameters.
e.g:  Returns(http.StatusOK, http.StatusText(http.StatusOK), "file")

it will produce apispec like this:
"responses": {
 "200": {
  "description": "OK",
  "schema": {
   "type": "string",
  }
 }

However, I am trying to fine a way to create api spec like below, because the handler it returning a file to user
"responses": {
 "200": {

[2022-11-07 06:28] aryanicosa commented on #99
I see in this commit https://github.com/emicklei/go-restful-openapi/commit/480c8f365ca44dad15868767c566c790658333ad made change to be able to handle time.Duration type. But, however, file is not a type. is there a better way to handle this case

similar issue in go-swaggo https://github.com/go-swagger/go-swagger/issues/1003

[2022-11-11 05:51] emicklei opened #100 "[bug] types with same name mixed up"
Original report: https://github.com/emicklei/go-restful/issues/506

[2022-11-21 20:27] emicklei commented on #99
thank for reporting this issue.
We could introduce a new type:
[code]
that is check in the Returns to allow a `raw` type value so that:
[code]
will produce your result.

[2022-11-30 21:04] emicklei commented on #79
thank you for the test, I will look for a solution

[2022-11-30 21:04] slow-zhang commented on #79
***@***.***：377636000地址：浙江省杭州市西湖区浙江大学西溪校区